body{
    margin: 0 0;
    font-family: "Inter", sans-serif;
}

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#6390F0, #39538A, #111A2C);
    min-height: 100vh;
    flex-direction: column;
}


.greeting{
    text-align: center;
    color: white;
}
.greeting h1{
    margin: 0 0;
    font-size: 70px;
}
.greeting p{
    font-size: 25px;
    margin: 5px 0;
    font-style: italic;
    font-weight: 100;
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form button{
    color: #4E4D4D;
    font-weight: 600;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 10px;
    border: none;
}

form button:hover{
    background-color: #4E4D4D;
    color: white;
    outline: 1px solid white;
}

form .btn{
    display: flex;
    flex-display: row;
}
form textarea{
    padding: 15px 15px;
    font-size: 15px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    color: #4E4D4D;
}



.response-container {
  height: 250px;
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px 20px 0;
  overflow-y: auto;
}

/*invisible scroller*/
.response-container {
  scrollbar-width: none;/* Firefox */
  -ms-overflow-style: none;/* IE and Edge */
}

.response-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge (Chromium) */
}

.response{
  padding: 10px;
  color: white;
  font-weight: 200;
  line-height: 1.5;
  margin-top: auto;
}

.question{
    text-align: right;
    background-color: white;
    color: #4E4D4D;
    font-weight: 200;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5;
    padding: 10px 10px;
    margin-bottom: 20px;
    max-width: 600px;
    border-radius: 10px;
    margin-left: auto;
}